BPEL_T4/src/localhost_8091/ServicioRastreo/ServicioRastreo.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://WS/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WS/">

<xs:element name="ObtenerPropuestaPiloto" type="tns:ObtenerPropuestaPiloto" />

<xs:element name="ObtenerPropuestaPilotoResponse" type="tns:ObtenerPropuestaPilotoResponse" />

<xs:complexType name="ObtenerPropuestaPiloto">
<xs:sequence>
<xs:element name="arg0" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="ObtenerPropuestaPilotoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>