EnterpriseServiceBus/App_WebReferences/ServidorPiloto/Service-Piloto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ObtenerConductoresDisponibles">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerConductoresDisponiblesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerConductoresDisponiblesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OcuparPiloto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigoPiloto" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OcuparPilotoResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerConductoresDisponiblesSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerConductoresDisponibles" />
  </wsdl:message>
  <wsdl:message name="ObtenerConductoresDisponiblesSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerConductoresDisponiblesResponse" />
  </wsdl:message>
  <wsdl:message name="OcuparPilotoSoapIn">
    <wsdl:part name="parameters" element="tns:OcuparPiloto" />
  </wsdl:message>
  <wsdl:message name="OcuparPilotoSoapOut">
    <wsdl:part name="parameters" element="tns:OcuparPilotoResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="ObtenerConductoresDisponibles">
      <wsdl:input message="tns:ObtenerConductoresDisponiblesSoapIn" />
      <wsdl:output message="tns:ObtenerConductoresDisponiblesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OcuparPiloto">
      <wsdl:input message="tns:OcuparPilotoSoapIn" />
      <wsdl:output message="tns:OcuparPilotoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerConductoresDisponibles">
      <soap:operation soapAction="http://tempuri.org/ObtenerConductoresDisponibles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OcuparPiloto">
      <soap:operation soapAction="http://tempuri.org/OcuparPiloto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerConductoresDisponibles">
      <soap12:operation soapAction="http://tempuri.org/ObtenerConductoresDisponibles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OcuparPiloto">
      <soap12:operation soapAction="http://tempuri.org/OcuparPiloto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:50010/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:50010/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>